body {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}
a{
    color:#DCE1DE;
}
/* .container{
    display: flex;
} */
.section {
    height: 100vh;
}
.card-title {
    border-bottom-style: solid;
    border-bottom: #216869;

}
#home{
    background-color: #49A078;
}
#aboutMe {
    background-color:#216869;
}
#portfolio {
    background-color:#9cc5a1;

}
#contact {
    background-color:#1f2421;
}

.navbar{
    background-color: #1f2421;
}
.nav-link {
    color: #DCE1DE;
}
.nav-item:hover{
    border-bottom-style: solid;
    cursor: pointer;
    color: #DCE1DE;
}
.project{
    margin:8px;
}
.project-img{
    opacity: 0.8;
}
.card{
    background-color: #DCE1DE;

}
div.card {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

.buffer {
    height:60px;
}
