html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}
a{
    color:#DCE1DE;
}
* , :after, ::before{
  box-sizing:border-box;
}
.row::after{
    clear:both;
}
.row:after, .row:before{
    content: "";
    display: table;
}
.card-title {
    border-bottom-style: solid;
    border-bottom: #216869;

}
#home{
    position: relative;
    background-color: #49A078;
    height: 100vh;
}
#aboutMe {

    background-color:#216869;
   
}
#profile{
    text-align: left;

}
#portfolio {
    background-color:#9cc5a1;
}
#contact {
    background-color:#1f2421;
}
#education {
    text-align:right;
}

.card-title{
    border-bottom-style:solid;
    border-bottom-color: black;
}
.project{
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}
.navbar{
    background-color: #1f2421;
}
.nav-link {
    color: #DCE1DE;
}
.nav-item{
    border-bottom-style: solid;
    border-bottom-color: transparent;
}
.nav-item:hover{
    border-bottom-style: solid;
    cursor: pointer;
    border-bottom-color: #DCE1DE;
}
.project{
    margin:8px;
}
.project-img{
    opacity: 0.8;
}
.card{
    background-color: #DCE1DE;

}
div.card {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

.buffer {
    height:60px;
}

#welcome{
    position: absolute;
    top:30%;
    background-color: transparent;
    color: white;
    margin: 0px auto 0px auto;
}

#skillList{
    list-style: none;
    margin:0;
    padding:0;
}
.skillListItem{
    display: inline-block;
    vertical-align: middle;
}
.skillIcon{
    
    width: 100px;
    height: auto;
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}
.profilePic{
    max-width: 300px;
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}
.active{
    filter:none;
    opacity: 1;
}


/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }