html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}

a{
    color:#e4b363;
}
a:hover {
    color: #EF6461;
}

* , :after, ::before{
  box-sizing:border-box;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: #e4b363;
    outline: 1px solid #e4b363;
}
body::-webkit-scrollbar-track {
    background-color: #313638;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.row::after{
    clear:both;
}
.row:after, .row:before{
    content: "";
    display: table;
}
.card-title {
    border-bottom-style: solid;
    border-bottom: #313638;

}
#home{
    position: relative;
    background-color: #e0dfd5;
    top: 0;
    height: 100vh;
}

#profile{
    text-align: left;
}

#education {
    text-align:right;
}
#contact{
    height: 100vh;
    background-color: #e8e9eb;
}
.readableLink{
    color: #313638;

}
td {
    text-align: left;
    vertical-align: middle;
  }
.card-title{
    border-bottom-style:solid;
    border-bottom-color: #313638;
}
.project{
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}
.navbar{
    background-color: #313638;
}
.footer {
    background-color: #313638;
    color: #e0dfd5;
    text-align: center;
}
#footerText {
    font-size: 10px;
    vertical-align: text-bottom;
    padding-top: 20px;
}
.nav-link {
    color: #e4b363;
    text-align: center;
}
.nav-item{
    border-bottom-style: solid;
    border-bottom-color: transparent;
}
.nav-item:hover{
    border-bottom-style: solid;
    cursor: pointer;
    border-bottom-color: #e4b363;
}
/* aligning our menu icon  */
#hamburger {
    padding-top: 5px;
    color: #e4b363;
}
.project{
    margin: 10px 0px  0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-img{
    opacity: 0.8;
}
.card{
    background-color:transparent;
    text-align: center;
    border-style: none;
}


.buffer {
    height:65.6px;
}
.hide {
    display: none;
}
#show{
    display: block;
}

#welcome{  
    position: absolute;
    top:30%;
    background-color: transparent;
    color: #e4b363;
    margin: 0px auto 0px auto;
    text-align: center;
}


#skillList{
    list-style: none;
    margin:0;
    padding:0;
}
.skillListItem{
    display: inline-block;
    vertical-align: middle;
}

.skillIcon{
    width: 100px;
    height: auto;
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}

.profilePic{
    max-width: 300px;
    transition: all 0.3s ease;
    opacity: 0.66;
    filter: grayscale(100%);
}

.active{
    filter:none;
    opacity: 1;
}


/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
